*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}


.header 
{
    align-items: center;
    display: flex;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.877);
    margin: 0;
}

.navbar ul {
    list-style-type: none;
   
 }

.navbar li {
   display: inline-block;
   padding:  100% 20px;
   padding-left: 40px;
   font-size: 0.8rem;
   font-weight: 600;
   font-family: sans-serif;
   text-transform: uppercase;
   
}
.navbar ul li a{
  text-decoration: none;
  color: white;
  cursor: pointer;
  padding-top: 100%;
  padding-bottom: 100%;
  outline: medium none;
  
}
@media screen and (max-width:800px) {
  .navbar{
    display: none;
  }
  
}